@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    transition: 0.3s linear;
}

header {
    background-color: #126eb4;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:  #fff;
    text-decoration: none;
    margin-left: 10px;
}
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    margin-right: 20px;
}
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .nav-links li a:hover {
    background-color: #0787ea;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.2s ease;
  }
  
  @media screen and (max-width: 992px) {
    .nav-links {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease;
    }
  
    .nav-links li {
      opacity: 0;
    }
  
    .burger {
      display: block;
    }
  
    .logo {
      margin-left: 10px;
    }
  }
  #burger-menu {
    cursor: pointer;
  }
  
  #burger-menu div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: transform 0.3s;
  }
  
  #burger-menu.open div:first-child {
    transform: translateY(10px) rotate(45deg);
  }
  
  #burger-menu.open div:nth-child(2) {
    opacity: 0;
  }
  
  #burger-menu.open div:last-child {
    transform: translateY(-10px) rotate(-45deg) ;
  }
  .menu-hide{
    display: none;
}
.menu-hide ul li:first-child{
    background-color: #0787ea;
}
  .menu-hide.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 130px;
    height: 200px;
    right: 0;
    background-color: #126eb4;
    margin-top: 256px;
    margin-right: 0px;
    animation: appear 0.3s linear;
  }


@keyframes appear {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
}


  .menu-hide ul{
    list-style: none;
  }
  .menu-hide li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .menu-hide li:hover{
    transition: 0.2s ease-in-out;
    background-color: #0787ea;
  }
  .menu-hide a{
    text-decoration: none;
    color: #fff;
  }
  .separator{
    width: 100%;
    height: 75px;
}
img{
    width: 350px;
    border-radius: 5px;
    border: 2px solid #126eb496;
}
img:hover{
    transition: 0.2s ease-in-out;
    border-color: #0787ea;
}

#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.recipe-card{
    height: 400px;
    width: 400px;
    border: 2px solid #126eb496;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px;
}

.recipe-card h2{
    margin-left: 5px;
    font-size: 20px;
    color: #126eb4;
}

.recipe-card a{
    color: white;
    background-color: #0787ea;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer
}
.recipe-card a:hover{
    transition: 0.2s ease-in-out;
    background-color: #126eb4;
}
#footer{
    width: 100%;
    height: 75px;
    background-color: #404040;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#btn-top{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #0787ea; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 150px;
  height: 30px;
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
.main, .msg-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.msg-container{
  width: 400px;
  height: 375px;
  border: 2px solid #0787ea;
  border-radius: 15px;
}
.msg{
  margin: 10px;
}
.img-card{
  width: 150px;
  border-radius: 100px;
  margin: 20px 0px 20px 0px;
}
.br-icon{
  width: 20px;
  border: none;
  padding: 0;
}
.social{
  list-style: none;
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.social li{
  background-color: #404040;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.social a{
  text-decoration: none;
  color: #fff;
}
.social li:nth-child(1):hover{
  background-color: #000;
}
.social li:nth-child(2):hover{
  background-color: #0787ea;
}
.social li:nth-child(3):hover{
  background-color: #d63d94;
}
.social li:nth-child(4):hover{
  background-color: #3d12b4;
}
#btn-mobile{
  opacity: 0;
}



input:focus{
  outline: 0;
}
.input-recipe{
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #126eb4;
  text-indent: 5px;
  margin-bottom: 30px;
  font-size: 15px;
}

.inputs{
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-s{
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #126eb4;
  color: #126eb4;
  font-size: 18px;
  transition: 0.2s ease-in-out;
  margin-bottom: 30px;
  cursor: pointer;
  margin-left: 5px;
}
